*{
    box-sizing: border-box;
}

.header-month{
    text-align: center;
    color: #6FEDD6;
    padding: 0px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table-striped > tbody > tr:nth-child(odd)>td,
.table-striped > tbody > tr:nth-child(odd)>th {
   background-color:  #B9FFF8;
 }

.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
    padding:10px 50px;
    text-align: center;
}

.header{
    background-color:#FF9551;
    color:#222;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.header > p {
    padding: 20px 30px;
    margin-bottom:0px;
}

.word-form{
    text-align:center;
    margin-bottom: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: #222;
}

.button{
    font-family: Helvetica, sans-serif;
    border: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    color: #222;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #B9FFF8;
}

.total{
    font-weight: bold;
}
