<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href=".static/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Word Tracker</title>
    </head>
    <body>
        <div class="header">
            <p>Francisco: <span class="total">8 words</span></p>
            <p>2 years and 5 months</p>
        </div>
        
        <form class="word-form">
            <label>Add New Word</label>
            <input type="text">
            <input type="submit" class="button">
        </form>

        <h2 class="header-month">Words List</h2>
            <table class="table table-striped d-flex justify-content-center">
                <tr>
                    <th scope="col">Word</th>
                    <th scope="col">Month</th>
                </tr>
                <tr>
                    <td>Mama</td>
                    <td>9 months</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>9 months</td>
                </tr>
                <tr>
                    <td>Dog</td>
                    <td>10 months</td>
                </tr>
                <tr>
                    <td>Cat</td>
                    <td>10 months</td>
                </tr>
                <tr>
                    <td>Ice</td>
                    <td>10 months</td>
                </tr>
                <tr>
                    <td>Foo</td>
                    <td>11 months</td>
                </tr>
                <tr>
                    <td>Bar</td>
                    <td>11 months</td>
                </tr>
                <tr>
                    <td>Bas</td>
                    <td>12 months</td>
                </tr>
            </table>
    </body>
</html>